body {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(250, 128, 114, 30%);
}

header {
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../img/salmon.png);
    width: 801px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    color: salmon;
    background-color: rgba(112, 128, 144, 25%);
    border-radius: 20px;
}

nav {
    margin-top: 70px;
}

nav ul li{
    display: inline-block;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    color: salmon;
    background-color: rgba(112, 128, 144, 50%);
    padding: 10px;
    border-radius: 10px;
    border: solid 2px green;
}

header a:hover {
    background-image: url(../img/frosted-cookie.jpg);
    border-radius: 10px;
    color: lawngreen;
}

form {
    margin: 50px auto;
    width: 20%;
}

fieldset {
    background-color: darkseagreen;
    line-height: 1.6em;
    padding: 15px;
    border-radius: 30px;
    border: solid 5px darkgreen;
}

legend {
    color: darkslategray;
    background-color: darksalmon;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    border-radius: 15px;
    border: solid 5px darkgreen;
}

button {
    float: right;
    margin-top: 15px;
    font-size: 16px;
    color: salmon;
    background-color: darkgreen;
    padding: 10px;
    border-radius: 15px;
}

input {
    border-radius: 5px;
}

#cookie-table {
    border: solid 5px darkslategray;
    border-radius: 15px;
    background-color:  rgba(112, 128, 144, 30%);
}

h3 {
    font-size: 3em;
    text-align: center;
    padding-top: 30px;
    color: hsl(15, 72%, 50%);
    text-decoration: underline hsl(15, 72%, 50%);
}

table {
    
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(112, 128, 144, 0.3);
    color: hsl(6, 93%, 50%);
}

tbody {
    margin: 0 auto;
    width: 100%;
}

table > thead, tbody, tfoot, th, td {
    border: 2px solid darkslategray;
    height: 30px;
    width: 75px;
    vertical-align: middle;
    padding: 5px;
}

th {
    font-weight: bolder;
    font-size: 22px;
}

td {
    color: hsl(120, 67%, 15%);
    font-style: oblique;
}

/* #hourly-totals {
    color: limegreen;
    margin: 0 auto;
    width: 100%;
} */

/* #hourly-totals > td {
    color: limegreen;
} */

footer {
    height: 100px;
}
