body {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(250, 128, 114, 30%);
}

header {
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../img/salmon.png);
    width: 801px;
    height: 250px;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    color: salmon;
    background-color: rgba(112, 128, 144, 25%);
}

nav {
    margin-top: 60px;
}

nav ul li{
    display: inline-block;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    color: darksalmon;
    background-color: rgba(112, 128, 144, 50%);
    padding: 5px;
    border-radius: 10px;
}

table {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(112, 128, 144, 30%);
    color: salmon;
    
}

table > thead, tbody, tfoot, th, td {
    border: 2px solid darkslategray;
    height: 30px;
    width: 75px;
    vertical-align: middle;
    padding: 5px;
}

th {
    font-weight: bolder;
    font-size: 22px;
}

td {
    color: rgb(22, 112, 22);
    font-style: oblique;
}
