body {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(250, 128, 114, 30%);
}

header {
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../img/salmon.png);
    width: 801px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    color: hsl(6, 93%, 50%);
    background-color: rgba(112, 128, 144, 25%);
    border-radius: 20px;
    font-family: 'Lobster', cursive;
}

nav {
    margin-top: 70px;
}

nav ul li{
    display: inline-block;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    color: salmon;
    font-family: 'Lobster', cursive;
    background-color: rgba(112, 128, 144, 50%);
    padding: 10px;
    border-radius: 10px;
    border: solid 2px green;
    text-decoration: none;
}

header a:hover {
    background-image: url(../img/frosted-cookie.jpg);
    border-radius: 10px;
    color: lawngreen;
}

section {
    border: solid darkslategray 5px;
    margin: 50px ;
    border-left: none;
    border-right: none;
}

h3 {
    text-align: center;
    text-decoration: hsl(6, 93%, 50%) underline;
    font-size: 38px;
    color: hsl(6, 93%, 50%);
    padding-top: 60px;
    font-family: 'Lobster', cursive;
}

#cookie-table {
    border: solid 5px darkslategray;
    background-color:  rgba(112, 128, 144, 30%);
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(6, 93%, 50%);
    
}

table > thead, tbody, tfoot, th, td {
    border: 2px solid darkslategray;
    height: 30px;
    vertical-align: middle;
    padding: 5px;
}

th {
    font-weight: bolder;
    font-size: 22px;
}

td {
    color: hsl(120, 67%, 15%);
    font-style: oblique;
} 

form {
    margin: 60px auto;
    width: 20%;
}

fieldset {
    background-color: darkseagreen;
    line-height: 1.6em;
    padding: 15px;
    border-radius: 30px;
    border: solid 5px darkgreen;
}

legend {
    color: darkslategray;
    background-color: darksalmon;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    border-radius: 15px;
    border: solid 5px darkgreen;
}

button {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 16px;
    color: salmon;
    background-color: darkgreen;
    padding: 15px;
    border-radius: 15px;
}

button:hover {
    transform: scale(1.1);
}

input {
    border-radius: 5px;
}

footer {
    clear: both;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 16px;
    text-decoration: underline;
    color: hsl(6, 93%, 50%);
    font-family: 'Lobster', cursive;
}